
html {
    background: #1A0C4D;
    color: white;
    font-family: Caladea;
    text-shadow:1px 1px black;
}
select, input[type=text][readonly] {
    height: 18px;
    margin-right: 10px;
}

table, td, th {
	margin: 0 auto 20px 10px;
}

.input_row {
    display:flex;
    align-items: center;
}

.input_faculty {
    width:60px;
}

.input_course {
    width:35px;
}

.input_group {
    width:80px;
}

.input_name {
    width:220px;
}

.table {
    text-align: center;
    padding: 0;
    background: #C3B2FF;
    border-radius:15px;
}
.button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

    .button:hover {
        background-position: right center;
    }
    